<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Covid19</title>{% endblock %}
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 

 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../static/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="../../static/assets/css/styles.css">
    <link rel="stylesheet" href="../../static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../static/assets/css/Login-Form-Clean.css">
	<link rel="stylesheet" href="../../static/assets/css/Registration-Form-with-Photo.css">

  
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-md" style="background-color: #f6f6f6;">
        <div class="container-fluid"><a class="navbar-brand" href="{% url 'covid-19' %}">Covid-19</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'index' %}">Cases in Greece</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'news' %}">News</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'tweets' %}">Tweets</a></li>
                </ul><button class="btn btn-primary ml-auto btn btn-dark" login="Login"  style="font-weight: bold;"><a href="{% url 'login' %}"> Login</a> </button></div>
        </div>
    </nav>
    <div class="row">
	{% block content %}{% endblock %}
	</div>
    <div class="footer-basic">
        <footer style="background-color: rgba(255,255,255,0);">
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Cases</a></li>
                <li class="list-inline-item"><a href="#">News</a></li>
                <li class="list-inline-item"><a href="#">Tweets</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Created by M. Daramouskas, G. Paraschis, A. Tsagaropoulos © 2020</p>
        </footer>
    </div>
    <script src="../../static/assets/js/jquery.min.js"></script>
    <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>


</html>



