{% extends "base_generic.html" %}

<head>
 
  
 {% load static %}
 <link rel="stylesheet" href="{% static '/css/styles.css' %}"> 
  
  
</head>

{% block content %}

<div class="container-fluid">
  <div class="row">
<div class="col-sm-8 "><img src="../static/css/covid.svg" class="img-fluid" alt="Responsive image"></div>
<div class="col-sm-4 ">
 
 <p>Πληροφορίες σχετικά με τον κορωνοιό στην Ελλάδα</p>
  <ul>
    <li><strong>Αριθμός κρουσμάτων:</strong> {{ num_Articles }}</li>
    <li><strong>Αριθμός θανάτων:</strong> {{ num_Authors }}</li>
  </ul>



</div>
</div>
</div>

 
{% endblock %}


