{% extends "base_generic.html" %}





{% block content %}

<div class="container">
        <div class="jumbotron">
            <h1>Tweets σχετικά με τον&nbsp;κορονοϊό στην Ελλάδα</h1>
            <p>Η Πατρίδα μας ανταποκρίθηκε με ταχύτητα και χωρίς προηγούμενα στις έκτακτες συνθήκες που αφορούσαν τον ιό. Στις αρχές Ιανουαρίου έγινε η πρώτη αναφορά για τον ιό στην συνάντηση των επιστημόνων του Εθνικού Οργανισμού Δημόσιας Υγείας και μάλιστα,
                όταν αναφερθήκαμε στο νέο ιό σαν μια πιθανή σημαντική απειλή, αντιμετωπίσαμε κάποια σκληρή κριτική, γιατί πράγματι τα έως τότε λίγα δεδομένα δεν αρκούσαν για να τεκμηριωθεί μία σοβαρή για τον κόσμο απειλή.</p>
        </div>
    </div>
    <div class="container">
	{% for ph in pharm%}
        <div class="media"><img class="img-thumbnail img-fluid d-none d-sm-none d-md-none d-lg-inline d-xl-inline mr-3" src={{tw.dir}} width="100">
            <div class="media-body">
              
				<button class="btn btn-primary"type="button" ><a style="color:white" href= {{ph.url}} target="_blank">  {{ ph.name }} </button> </a>
                <p>{{ ph.location }}</p>
            </div>
        </div>
		{% endfor %}
      
    </div>
{% endblock %}