<!DOCTYPE html>


{% extends "base_generic.html" %}

{% block content %}

<body>
    <div class="container" style="width: 220px;max-width: 400;">
        <div class="row">
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item"><i class="fa fa-line-chart"></i><span style="padding-left: 10px;">Διαγράμματα</span></li>
                    <li class="list-group-item"><i class="fa fa-medkit"></i><span style="padding-left: 10px;">Φαρμακεία</span></li>
                    <li class="list-group-item"><i class="fa fa-ambulance"></i><span style="padding-left: 10px;">Νοσοκομεία</span></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../../static/assets/js/jquery.min.js"></script>
    <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/assets/js/bs-init.js"></script>
</body>

{% endblock %}